<div class="container">
    <h2>Profiles</h2>

    <form (ngSubmit)="saveProfiles()">
        <input type="number" [(ngModel)]="profile.Id" name="Id" placeholder="ID" required />
        <br/>
        <input type="text" [(ngModel)]="profile.FullName" name="FullName" placeholder="FULL NAME" required />
        <br/>
        <input type="text" [(ngModel)]="profile.ContactNumber" name="ContactNumber" placeholder="CONTACT NUMBER" required />
        <br/>
        <input type="text" [(ngModel)]="profile.Address" name="Address" placeholder="ADDRESS" required />
        <br/>
        <input type="text" [(ngModel)]="profile.Gender" name="Gender" placeholder="GENDER" required />
        <br/>
        <input type="text" [(ngModel)]="profile.DateOfBirth" name="DateOfBirth" placeholder="DATE OF BIRTH" required />
        <br/>
        <input type="text" [(ngModel)]="profile.UserId" name="UserId" placeholder="USER ID" required />
        <br/>
        <input type="text" [(ngModel)]="profile.EmployeeId" name="EmployeeId" placeholder="EMPLOYEE ID" required />
        <br/>
        <button type="submit">{{ editing ? 'Update' : 'Add' }} Profile</button>
        <br/>


    </form>

    <ul>
        <li *ngFor="let profile of profiles">
            {{ profile.Id }} - {{ profile.FullName }} - {{profile.ContactNumber}} - {{profile.Address}} - {{profile.Gender}} - {{profile.DateOfBirth}} - {{profile.UserId}} - {{profile.EmployeeId}}
            <button (click)="editProfiles(profile)">Edit</button>
            <button (click)="deleteProfiles(profile._id)">Delete</button>
        </li>
    </ul>
</div>