<div class="container">
    <h2>Categories</h2>

    <form (ngSubmit)="saveCategories()">
        <input type="number" [(ngModel)]="category.Id" name="Id" placeholder="ID" required />
        <br/>
        <input type="text" [(ngModel)]="category.Name" name="Name" placeholder="Name" required />
        <br/>
        <input type="number" [(ngModel)]="category.CategoryId" name="CategoryId" placeholder="CategoryId" required />
        <br/>
        <button type="submit">{{ editing ? 'Update' : 'Add' }} Category</button>
        <br/>


    </form>

    <ul>
        <li *ngFor="let category of categories">
            {{category.Id}} - {{category.Name}} - {{category.CategoryId}}
            <button (click)="editCategories(category)">Edit</button>
            <button (click)="deleteCategories(category._id)">Delete</button>
        </li>
    </ul>
</div>