<div class="container">
    <h2>Booking Status</h2>

    <form (ngSubmit)="saveBookingStatus()">
        <input type="number" [(ngModel)]="bookingStatus.Id" name="Id" placeholder="ID" required />
        <br/>
        <input type="text" [(ngModel)]="bookingStatus.Name" name="Name" placeholder="NAME" required />
        <br/>
        <button type="submit">{{ editing ? 'Update' : 'Add' }} BookingStatus</button>
        <br/>


    </form>

    <ul>
        <li *ngFor="let bookingStatus of bookingStatuses">
            {{bookingStatus.Id}} - {{bookingStatus.Name}}
            <button (click)="editBookingStatus(bookingStatus)">Edit</button>
            <button (click)="deleteBookingStatus(bookingStatus._id)">Delete</button>
        </li>
    </ul>
</div>